mixin videoBlock(video = {})
    //- pug 함수의 일종  객체가  mixin 
    .videoBlock 
        //- video.videoBlock__thumnail(src=video.videoFile, autoplay=true)
        a(href=routes.videoDetail(video.id))
        video.videoBlock__thumnail(src=video.videoFile, controls=false)
        h4.videoBlock__title=video.title
        if video.views === 1
            h6.videoBlock__views 1 view
        else
            h6.videoBlock__views #{video.views} views 

